h1{
   background-color: rgba(12, 28, 253, 0.904);
    width:360px;
    height:50px;
    animation-name: title;
  animation-duration: 10s;
    text-align: center;
    color:rgb(255, 255, 255);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
@keyframes title{
    form{background-color:dodgerblue ;}
    to{background-color: rgba(38, 235, 55, 0.835);}
}
body{
background-image: url("./pexels-gradienta-7134990.jpg");
}
.logo{
    position: absolute;
    top: -3px;
    left: -10px;

}
.button{
    background-color: #4CAF50; /* Green */
    border:none;
    color: white;
    padding: 15px 46px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 10px;
    position: absolute;
    left: 75px;
    animation-name: button1;
    animation-duration: 11s;
}
 
  
 .button a:link, a:visited {
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    animation-name: button1;
    animation-duration: 11s;
  }
  @keyframes button1 {
        form{background-color:#4CAF50 ;}
        to{background-color:rgba(255, 255, 0, 0.815);}
  }

  .button2{
    background-color: #4CAF50; /* Green */
    border:none;
    color: white;
    padding: 15px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 10px;
    position: absolute;
    top:200px;
    left: 75px;
    animation-name: button2;
    animation-duration: 11s;
  }
  .button2 a:link, a:visited {
    background-color: #4CAF50;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    animation-name: button2;
    animation-duration: 11s;
  }
  @keyframes button2 {
    form{background-color:#4CAF50 ;}
    to{background-color:rgb(255, 81, 0);}
}

.button3{
    background-color: #4CAF50; /* Green */
    border:none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 10px;
    position: absolute;
    top:300px;
    left: 75px;
    animation-name: button3;
    animation-duration: 11s;
  }
  .button3 a:link, a:visited {
    background-color: #4CAF50;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    animation-name: button3;
    animation-duration: 11s;
  }
  @keyframes button3 {
    form{background-color:#4CAF50 ;}
    to{background-color:rgb(0, 68, 255);}
}

.button4{
    background-color: #4CAF50; /* Green */
    border:none;
    color: white;
    padding: 15px 46px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 10px;
    position: absolute;
    top:400px;
    left: 75px;
    animation-name: button4;
    animation-duration: 11s;
  }
  .button4 a:link, a:visited {
    background-color: #4CAF50;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    animation-name: button4;
    animation-duration: 11s;
  }
  @keyframes button4 {
    form{background-color:#4CAF50 ;}
    to{background-color:rgb(139, 19, 250);}
}

.button5{
    background-color: #4CAF50; /* Green */
    border:none;
    color: white;
    padding: 15px 46px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 10px;
    position: absolute;
    top:500px;
    left: 75px;
    animation-name: button5;
    animation-duration: 11s;
  }
  .button5 a:link, a:visited {
    background-color: #4CAF50;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    animation-name: button5;
    animation-duration: 11s;
  }
  @keyframes button5 {
    form{background-color:#4CAF50 ;}
    to{background-color:rgb(255, 145, 0);}
}


.button6{
    background-color: #4CAF50; /* Green */
    border:none;
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 10px;
    position: absolute;
    top:600px;
    left: 75px;
    animation-name: button6;
    animation-duration: 11s;
  }
  .button6 a:link, a:visited {
    background-color: #4CAF50;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    animation-name: button6;
    animation-duration: 11s;
  }
  @keyframes button6 {
    form{background-color:#4CAF50 ;}
    to{background-color:rgb(0, 195, 255);}
}
.body{
    background-color: #2196F3;
}
.grid-container {
    display: grid;
    height: 750px;
    align-content: space-evenly;
    grid-template-columns: 5 5 5;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 5px;
   position:absolute;
    bottom: 50px;
    left: 5px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .home{
      position:relative;
      left:150px;

  }
  .grid{
      position:absolute;
      left: 30px;
  }